@import url('https://fonts.cdnfonts.com/css/poppins');

body {
    margin: 0;
    padding: 0;
    background: #fff;
    /* letter-spacing: 0.01em; */
    font-family: 'Poppins', sans-serif;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .avatar {
    animation: rotate 15s linear infinite; 
    transform-origin: center;
  }